*.png
*.log
util.py
bethe
cry_validation
exp
fib
testbeam_containment
theta13_animation
*.nb
data
*.svg
optical
*~
*.root
*.pyc
.DS_Store
tmp
rootalias.py
fiber
*.txt
*.in
*.out
*.pdf
G4beamlineExamples
.tramp_history