testbeam/cherenkov_counter
*.xlsx
testbeam/secondary_beam/NOvA_secondary.in
*.tex
doc
*.csv
*.pickle
*.png
*.log
util.py
bethe
cry_validation
exp
fib
testbeam_containment
theta13_animation
*.nb
data
*.svg
optical
*~
*.root
*.pyc
.DS_Store
tmp
rootalias.py
fiber
*.txt
*.out
*.pdf
G4beamlineExamples
.tramp_history